html, body{
	margin: 0px !important;
	padding: 0px !important;
}

/* @font-face {
	font-family: GAMEFONT; 
	src: url('Arquivos/gamefont.otf');
	font-weight: normal;
	font-style: normal;
} */

/* FONTE DA PÁGINA */
@font-face {
	font-family: GAMEFONT;
	src: url(../Arquivos/gamefont.ttf);
}
html{
	width: 100%;
	background-color: rgb(20, 19, 19);
}
/* Tirar sublinhado dos links */
a:link, a:active, a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: underline;
}	

/* CORPO PRINCIPAL DO SITE*/
.principal{
	/* IMAGEM D BACKGROUND (BANNER) */
	background: url(../img/banner.png) no-repeat;
	/* AJUSTE DE TAMANHO DO BACKGROUND (ELE PASSAVA DO TAMANHO TODO DA TELA COM 100% */
	background-size: 99.9%;
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-family: GAMEFONT;
	/* DEIXA OS TEXTOS TODOS EM MAIÚSCULO */
	text-transform: uppercase;
	/* POSICIONA OS ITENS UM ABAIXO DO OUTRO */
	display: block;
	/* ALINHA O MENU AO CENTRO */
	text-align: center;
	align-items: center;
}
/* Definições do menu */
.menu{
	/* ALINHA AS OPÇÕES DO MENU */
	display: inline-flex;
}
/* Confugurações do menu 
(excluindo o botão de apoie) */
.principal a.menu{
	font-size: 30px;
	/* TAMANHO DA CAIXA DE BACKGROUND DE CADA OPÇÃO */
	padding: 8px 20px;
	/* ESPAÇAMENTO ENTRE AS OPÇÕES */
	margin-right: 30px;
}
.principal a.menu:hover{
	text-decoration: none;
	/* COR DA CAIXA DAS OPÇÕES */
	background: rgb(167, 11, 11);
	color: white;
	/* TRANSIÇÃO DA CAIXA */
	transition: 1s;
}
/* Icons */
.principal a img{
	/* TAMANHO DAS IMAGENS DOS ICONS */
	width: 2.5%;
	float: left;
	padding: 0 10px 10px;
	margin-right: 15px;
}
/* Letreiro */
.principal img{
	/* TAMANHO DA IMAGEM DO LETREIRO */
	width: 30%;
	/* PREENCHIMENTO PARA QUE A IMAGEM DE BACKGROUND APAREÇA */
	padding: 16%;
}
/* Texto dos direitos reservados */
.principal span{
	color: white;
}
/* Butão apoie */
.butapoie{
	/* COR DA CAIXA DO BOTÃO */
	background:rgb(167, 11, 11);
	font-size: 25px;
	/* DEFINIÇÕES DA POSIÇÃO DO BOTÃO */
	position: absolute;
	float: right;
	margin-right: 0px;
	margin-left: 208px;
	padding: 8px 15px;
}
.butapoie:hover{
	text-decoration: none;
	/* COR DE MUDANÇA DA CAIXA BOTÃO */
	background-color: white;
	/* COR DE MUDANÇA DO TEXTO */
	color: black;
	/* TEMPO DA MUDANÇA */
	transition: 1s;
}
/*RODAPÉ*/
.rodape{
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rodape span{
	color: white;
	font-family: GAMEFONT;
	font-size: 30px;
	text-align: center;
}
.rodape img{
	margin-left: 30px;
	width: 50%;	
}
/* TELAS MENORES */
@media screen and (min-widht: 660px) {

	.butapoie{
		position: relative;
	}
	
}