html, body{
	margin:0px !important;
	padding: 0px !important;
}

html{
	width: 100%;
	background-color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/*body, .lastnews ul li, .lastnews ol li{
	
	/*Gill Sans MT, 'Goudy Bookletter 1911', serif, 'Roboto', sans-serif;/
	color: black;
	text-shadow: none;
} */

/* Tirar sublinhado dos links */
a:link, a:active, a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: underline;
}
/* Estilos reutilizáveis */
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 15px 0 10px 0px;
}
ul li, ol li{
	margin-bottom: 0px;
}
ul.inline li, ol.inline li{
	display: inline;
}
ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 0;
}	
label, input[type=submit], input[type=text]{
	display: block;
}

label, input[type=submit]{
	padding: 10px
}
input.login{
	padding: 5px 5px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	/*margin-bottom: 5px;*/
	display: inline;
	float: left;
}
input[type=text]{
	font-family: 0;
}
input[type=search]{
	width: 150px;
}
textarea{
	resize: none;
}
a.botao, input.botao, button.botao{
	background: rgb(210,210,220);
	padding: 5px 10px;
	border-radius: 3px;
	color: rgb(0,100,0);
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: 1px;
	text-decoration: none;
}

a.botao:hover, input.botao:hover, button.botao:hover{
	background: rgb(60,179,113);
	color: white;
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
/* Definições do header e do menu */
.menusec, .footersec{
	width: 100%;
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
	background: rgb(80, 78, 78);
	overflow: none;
}
.menu, .footer{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 12px;
	color: black;
	/*text-shadow: 1px 1px gray;*/
	text-transform: uppercase;
	overflow: none;
	text-align: center;
	display: inline-flex;
	align-items: center;
	/*position: relative;*/
}
.menu ul li{
	width: 140px;
	height: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
}
.menu ul li:hover{
	text-decoration: none;
	background: gray;
	color: white;
}
.menu ul{
	padding: 0;
	margin: 0;
}
.menu li a{
	text-decoration: none;
	/*padding: 5px 2.5px 0px 10px;*/
	border-radius: 	3px; 
}
.menu li a:hover{
	text-decoration: none;
	color: black; 
	text-shadow: 0.5px 2px white;
}
.menu ul ul{
	width: 140px;
	border-radius: 3px;
	display: block;
}
.menu ul ul{
	display: none;
	position: absolute;
	background-color: rgb(240,249,240);
	box-shadow: 3px 3px 3px 3px gradient green;
}
.menu ul li:hover > ul, .menu ul li ul:hover{
	display: block;
}
/* CORPO PRINCIPAL DO SITE*/
.principal{
	width: 100%;
	position: relative;
}
.principal img{
	width: 100%;

}
.principal h2, .principal h3, .principal h4{
	position: absolute;
	color: white;
	text-shadow: 0.5px 2px black;
}

.principal h2{
	font-size: 50px;
	top: 150px;
	left: 30px;
	right: 10px;
}
.principal h2 img{
	width: 40%;
}
.principal h3{
	font-size: 23px;
	top: 200px;
	left: 30px;
	right: 10px;
	
}

/*RODAPÉ*/
.footer img{
	width: 25px;
	margin-right: 8px;
	margin-left: 20px;
	float: center;
}